html,body,div,p,ul,li{margin: 0;padding: 0;list-style: none;font-size: 12px;}
.notice{width: 298px;height: 98px;margin: 10px auto;
        border: 1px solid #eee;overflow: hidden;}
.notice-tit{height: 27px;position: relative;background: #f7f7f7;}
.notice-tit ul{width: 301px;position: absolute;left: -1;}
.notice-tit ul li{float: left;height: 26px;border-bottom: 1px solid #eee;width: 58px;line-height: 26px;
          text-align: center;overflow: hidden;background: #f7f5f5;padding: 0 1px;}
.notice li a:link,.notice li a:visited{text-decoration: none;color: #000;}
.notice li a:hover{color: #f90;}
.notice-tit li.select{background: #fff;border-bottom-color: #fff;
  border-left: 1px solid #eee;border-right: 1px solid #eee;padding: 0}
  .notice-con .mod{margin: 14px 10px 10px 14px;}
  .notice-con .mod li{float: left;width: 137px;height: 25px;white-space: nowrap;overflow: hidden;}
.notice-con .mod li a{line-height: 26px}
